
body {
    font-family: Arial, sans-serif;
    background-image: url('https://picsum.photos/2000/1000?image=1056');
    /* background-image: url('https://picsum.photos/2000/1000?image=1039'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-alert {
    color:red;
    font-size: 2vh;
}
/* Rest of the CSS code remains the same */

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phase-1, .phase-2, .phase-3, .phase-4 {
    display: none;
}

.phase-1 {
    display: block;
}

.hidden {
    display: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

label {
    display: block;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 20px auto;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
        padding: 5px;
        display: flex;
        flex: 1;
    }
    button {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}