
body {
    font-family: Arial, sans-serif;
    background-image: url('https://picsum.photos/2000/1000?image=1056');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-alert {
    color: red;
    font-size: 1vw; /* Use viewport units for scalability */
    margin: 0 0 0 5%;
    text-align: left;
    display: none;
    width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phase-1, .phase-2, .phase-3, .phase-4 {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 35%; 
    max-width: 35%; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    text-align: center;
}

.phase-1 {
    display: flex;
}
.em {
    display: none;
    width: 50%;
    background-color: #ecc910;
    aspect-ratio: 1/.2;
    border:5px solid #504610;
    text-align: center;
}
/* .em p {

} */
.em a {
    cursor: pointer;
    
}
.hidden {
    display: none;
}

/* input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* button {
    width: 100%; 
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
button {
    width: 30%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #3e8e41;
}
.phase-1 button {
    width: auto; /* Allow the button to adjust its width */
    min-width: 120px; /* Minimum width to prevent it from becoming too small */
    display: inline-block; /* Ensures the button stays on the same line */
    vertical-align: middle; /* Aligns the button vertically in the center */
}

label {
    display: block;
    margin-bottom: 20px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 20px auto;
    }
    .phase-1, .phase-2, .phase-3, .phase-4 {
        width: 95%; /* More space on smaller screens */
        max-width:95%;
    }
    .em {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
        padding: 5px;
        font-size: 14px; /* Smaller font size for better fit */
        display:flex;
    }
    button {
        padding: 5px;
        font-size: 16px; /* Larger font size for better touch targets */
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 600px) {
    .phase-1 button {
        width: 100%; /* Make the button full width on small screens */
    }
}


